$grid-max: 960px;
$light-color: #ffffff;
$dark-color: #181b20;
$colors:(
  'primary': #16acc8,
  'info': #2e86de,
  'sucess': #26de81,
  'warning': #f1c40f,
  'danger': #e74c3c
);
$btn-sizes: (
  'small': .75em, 
  'medium': 1.5em,
  'large': 2em
); 